@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666; background:#4a4541;
}
#page
{width:1003px; 
	margin:0 auto; 
	background:#FFFFFF;
}
#logo {
	padding: 0px;
	height: 100px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto; background:url("../images/logo.jpg") no-repeat;
}
#logo h1 {
	margin: 0px;
	float: left;
	padding-top: 50px;
}
#logo h2 {
	margin: 0px;
	float: right;
	padding-top: 60px;
}
#mainnav {
	background-image: url("../images/img02.jpg");
	background-repeat: no-repeat;
	float: none;
	height: 40px;
	width: 960px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mainnav ul {
	margin: 0px;
	padding-top: 13px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	list-style-image: none;
	list-style-type: none;
}
#mainnav li {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 33px;
}
#mainnav li a{color:#FFFFFF; text-decoration:none;}
#container {
	background-image: url("../images/img06.gif");
	background-repeat: no-repeat;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 45px;
	padding-right: 30px;
	padding-left: 30px;
}
#container #sideber {
	float: left;
	width: 250px;
}
#container #maincont {
	float: right;
	width: 600px;
}
#clear {
	clear: both;
}
#container #maincont .post1 h4 {
	font-size: 20px;
	color: #660099;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#lists ul li a{color:#666666;}
#lists ul li{line-height:30px; font-weight:bold;}
#container #maincont .post2 h4 {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	font-size: 20px;
	color: #660099;
}
#container #maincont .post h4 {
	font-size: 20px;
	color: #660099;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#container #maincont .post .blogcon {
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#xiangce{width:580px; margin:0 auto;}
#xiangce img{width:500px; margin:0 auto; text-align:center;}
#xingzuo{width:580px; margin:0 auto;}
#xingzuo p{text-align:left; line-height:22px;}
#xingzuo img{width:500px; margin:0 auto; text-align:center;}
#messageB{width:600px; padding:10px 0; overflow:hidden; text-align:left; line-height:24px;}
#messageB ul li{line-height:24px; margin-top:16px; list-style:none; padding:0;border:0;}
#messageB ul li span{vertical-align:middle; padding-right:12px;}
#messageB ul li .message_in{width:300px; height:22px; border:1px solid #999999;vertical-align:middle;line-height:22px; padding:0;}
#messageB ul li .message_te{width:500px; height:90px; border:1px solid #999999;vertical-align:middle;line-height:18px; padding:0;}
#messageB ul li .message_btn{width:64px; height:20px;  padding:0; line-height:20px; background:url("../images/btn.gif") no-repeat; color:#FFFFFF; font-weight:bold; cursor:hand;}


#jianjieA{width:600px; height:30px; background:#854f23;}
#jianjieA h4{font-size:14px; font-weight:bold; float:left; line-height:30px; margin-left:10px; display:inline; color:#FFFFFF} 
#jianjieA span{ float:right; line-height:30px; margin-right:10px; display:inline;} 
#jianjieA span a{ color:#9a9a9a;}

#jianjieB{width:598px;  border-bottom:1px solid #5a2c06;border-left:1px solid #5a2c06;border-right:1px solid #5a2c06;}
#jianjieB_content{width:580px; margin:0 auto; padding:10px;}
#focus{width:490px; height:210px; display:block; overflow:hidden;}
#jianjieB_content ul{width:490px; float:left; padding-top:14px;}
#jianjieB_content ul li{width:240px; height:26px; overflow:hidden; display:block; float:left; font-size:14px; color:#727272;}
#jianjieB_content ul li a{color:#727272;}

#zhanshiB{width:598px; height:125px; border-bottom:1px solid #5a2c06;border-left:1px solid #5a2c06;border-right:1px solid #5a2c06;}
#zhanshiB ul li img{width:130px; padding:2px; border:1px solid #dcf6ca;}
#zhanshiB ul li{float:left; text-align:center; margin-left:10px; display:inline;}
#zhanshiB ul{float:left; padding-top:5px;}


*{padding:0;border:0; margin:0}
#blogmeta {
	background-image: url("../images/img07.gif");
	background-repeat: no-repeat;
	height: 37px;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 15px;
	padding-left: 15px;
}
#footer {
	background-image: url("../images/img06.gif");
	background-repeat: no-repeat;
	padding: 30px;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#banner {
	width: 960px;
	
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	padding-top: 10px;
	
}
